.navBar {
  background-color: #000866;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.navList {
  display: flex;
  align-items: center;
  color: #fff;
}

.navList ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.navList ul li {
  padding: 2rem;
  text-align: justify;
  cursor: pointer;
}

.navList ul li:hover {
  background-color: #666db9;
}
