.formulario{
    @apply grid mt-[17%] h-[18rem] w-[22.5rem] rounded-md p-5;
    background-color: white
}

.inputGroup{
    @apply grid
}

.formulario label{
    @apply ml-1;
    color: black
}

.formulario a{
    @apply ml-1 text-sm;
}

.formulario a:hover{
    @apply underline
}

.formulario input{
    @apply rounded-md h-8 w-[20rem] border-[1px] pl-1;
}

.buttonCadastro{
    @apply rounded-md bg-azul-ticket h-[2rem];
    margin-block-start: auto;
    color: white;
}

.titleBox{
    @apply fixed top-[17%];

}

.titleBox a img{
    @apply font-sans text-2xl mb-10 ml-5;
    color: white
}


.titleBox p{
    @apply font-sans text-2xl;
    color: white
}
