.dropdown {
  @apply absolute flex flex-col top-20 right-6 w-60 p-4 rounded-lg bg-white border border-gray-400;
}

.dropdown::before {
  content: '';
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}

.button {
  @apply mr-4 flex;
}

.icone {
  @apply mr-4 text-[#0013a6];
}
